/*共通*/
*{
  font-family: 'メイリオ', Meiryo,'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
}
body{
  background:#3c3c3c;
  color:#fafafa;
}
.ptitle{
  font-size:16pt;
  text-shadow: 5px 5px 2px #1a1a1a;
  font-weight: bold;
}
.desc{
 font-size:10pt;
 text-shadow: 5px 5px 2px #1a1a1a;
}
.bp{
  color:#fafafa;
  text-decoration: none;
  font-weight: bold;
  font-size:14pt;
  border-radius: 4px;
}
.bp:hover{
  background:#606060;
}
input[type="button"]{
  width:80%;
  height:40px;
  background:#3c3c3c;
  border:#2222dd 1px solid;
  color:#fafafa;
}
#seticon{
	width:24px;
	height:24px;
	position:absolute;
	top:10px;
	right:10px;
}
#fsicon{
	width:24px;
	height:24px;
	position:absolute;
	top:48px;
	right:10px;
}
/*端末別*/
@media screen and (min-width:480px){
.sl{
  display:block;
  background:#fafafa;
  width:300px;
  height:50px;
  color:#3c3c3c;
  border-radius:5px;
  text-decoration:none;
  margin:0 auto;
  left:0;
  right:0;
  margin-bottom: 4px;
  font-size:18pt;
}
}
@media screen and (max-width:479px){
.sl{
  display:block;
  text-align: center;
  background:#eaeaea;
  width:100%;
  height:50px;
  font-size:18pt;
  color:#3c3c3c;
  border-bottom:#000 3px solid;
  text-decoration:none;
}
  .sl:hover{
    background:#bababa;
  }
}