/*Soruto Single Page Default CSS
License:MIT
Written by Soruto Proejct
*/
/*Modal*/
#smodal-modal{
  background: #3c3c3c;
  color:#fafafa;
  z-index: 102;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
  width:300px;
  height:200px;
  box-shadow:2px 2px 10px #090909;
  border-radius: 5px;
  text-align:center;
  overflow: auto;
  cursor: default;
}
.smodal-modal-opening{
    animation: fadeIn 0.4s ease 0s 1 normal;
}
.smodal-modal-closing{
    animation: fadeOut 0.4s ease 0s 1 normal forwards;
}
@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}
@keyframes fadeOut {
  100% {opacity: 0;z-index: -1;}
}
.smodal-modal-button{
  background:#3c3c3c;
  color:#fafafa;
  margin-top:10px;
  font-size:10pt;
  border:#5555aa 1px solid!important;;
  width:100px!important;;
  height:30px!important;;
  transition-duration: 0.2s;
  border-radius: 5px;
  outline: none;
}
.smodal-modal-button:hover{
  background: #4444aa;
}
.smodal-modal-button:focus{
  border:#5555aa 2px solid;
  box-shadow:0px 0px 10px #5555aa;
}
#smodal-modal-bg{
  z-index: 100;
  background:rgba(10,10,10,0.8);
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height: 100%;
}
.smodal-iframe{
  display: block;
  position:absolute;
  width:100%;
  height:calc(100% - 70px);
  border:none;
}