body{
  background:#3c3c3c;
  color:#fafafa;
}
a{
  color:#fafafa;
  font-weight: bold;
  font-size:12pt;
  border-radius: 4px;
}
a:hover{
  background:#606060;
}
@media screen and (min-width:480px){
body{
	font-size:14pt;
	text-align:center;
}
#titlebar{
background:#5c5c5c;
position:absolute;
top:0;
left:0;
width:100%;
height:55px;
font-size:11pt;
}
#terminal{
position:absolute;
top:55px;
left:0;
width:100%;
height:40px;
}
  input{
    background:#505050;
    color:#fafafa;
    height:40px;
    border:#fafafa 1px solid;
  }
  input[type="text"]{
    width:300px;
  }
  input[type="button"]{
    width:90px;
  }
}
@media screen and (max-width:480px){
#titlebar{
background:#5c5c5c;
position:absolute;
top:0;
left:0;
width:100%;
height:55px;
font-size:11pt;
}
#terminal{
position:absolute;
top:55px;
left:0;
width:100%;
height:40px;
}
#answer{
width:100%;
height:40px;
font-size:11pt;
border-radius:5px;
border:#a0a0a0 10px solid;
background: #a1a1a1;
	border:solid 1px #3399cc;
	box-shadow:0 0 7px #3399cc;
}
#ansb{
width:100%;
height:40px;
font-size:11pt;
border-radius:5px;
border:#4c4c4c 1px solid;
background:#4c4c4c;
color:#fefefe;
}
#question{
width:100%;
height:150px;
}
}